#terminal-output span {
    display: none;
}

#terminal-output span.received {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: blue;
    display: block;
}

#terminal-output span.sent {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    color: green;
    display: block;
}
